



#quote-text {
    font-size: 3em;
    font-weight: 700;
    padding-top: 60px;
    padding-left: 50px;
    max-width: 70%;
}

#author {
    font-size: 1.8em;
    padding-left: 50px;
   
}


@media(max-width: 800px) {
    #quote {

        width: 50%;
        font-size: .5em;

    }
}