.dark {
   
    background-image: url("https://i.pinimg.com/originals/22/10/1b/22101bfc172ffe55b7b403d5648b3ef9.png");
    color:red;
}
  
  .light {
  
     
  }


#quote {
    color: white;
    padding-top: 60px;
    padding-left: 50px;
    max-width: 70%;
   
}

#quote-text {
    font-size: 3em;
    font-weight: 700;
}

#author {
    font-size: 1.8em;
}


@media(max-width: 800px) {
    #quote {

        width: 50%;
        font-size: .5em;

    }
}