
#quote{
   
}


#quote-text {
    font-size: 2.5em;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 50px;
    max-width: 60%;
}

#author {
    font-size: 1.8em;
    padding-left: 50px;
    max-width: 30%;
   
}

#me{
    font-size: 2.5em;
    font-weight: 700;
   margin-left: 40%;
  
    max-width: 60%;
   
    ;
}

@media(max-width: 800px) {
    #quote {

       
        font-size: .5em;

    }
}