#bio-container{
       
        width: 100%; 
        margin-top: 10%;
       
       
    
}
.bio {
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 1.7em;   
    margin-right: 5%; 
    margin-top: 0;
    
}

  
.container {
    display: grid;
    grid-template-columns: auto auto ;
      }

.photo{
  
    
}

.photo-img{
   max-width: 20%;
}

@media(max-width: 1013px) {

    #bio-container{

       flex-wrap: wrap;     
      
}
.photo{
    max-width: 40%;
    margin: auto;
    display: block;
}
.bio{
    text-align: center;
    margin: 50px;
    font-size: 1em;
}
}
