.title{
    text-decoration: none;
    color: white;

}

#title {
    height: 120px;
    font-weight: 700;

    font-size: .7em;
    padding-top: 2px;
    padding-left: 50px;
    line-height: 20px;
   

}

@media(max-width: 750px) {
    #title {
        width: 30%;
        font-size: .7em;

    }
}