#title {
    height: 120px;
    font-weight: 700;

    font-size: 1.5em;
    padding-top: 2px;
    padding-left: 25px;
    line-height: 20px;

}

@media(max-width: 1013px) {
    #title {
        width: 30%;
        font-size: .7em;

    }
}