.title{
    text-decoration: none;
    

}

#title {
    height: 120px;
    font-weight: 700;
    min-width: 100%;
    font-size: 1.5em;
    padding-top: 50px;
    padding-bottom: 150px;
    line-height: 20px;
    text-align: center;
  
    

}

@media(max-width: 750px) {
    #title {
        width: 30%;
        font-size: 1.5em;
        

    }
}