#links {
    width: 50&;
    margin-top: 80px;
    margin-right: 40px;
    font-size: 1.3em;
}

.link-hov {
    color: #FF5A33;
    text-decoration: none;
    margin-right: auto;
    padding-right: 15px;

}


@media(max-width: 1013px) {
    #links {
        margin-top: 18px;
        margin-bottom: 0;
        margin-right: 40px;

    }

    .link-hov {
        display: grid;
        font-size: .7em;
    }

    .pipe {
        display: none;
    }
}