

#home-links {
   margin: 0;
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    padding: 20px;
   

}
#home-links:after{
    border-bottom: 1px solid black;
    content: '';
    display: block;
    margin-left: 25%;
    width: 50%;
} 
.home-link-hov {
    color: 	#cc2323;
    text-decoration: none;
    margin-right: auto;
    font-weight: 800;

}

.home-link-hov:hover {
    text-decoration: underline;
}

.home-pipe {
    color: 	#cc2323;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 950px) {
    #home-links {
        font-size: 1em;
       
        
}
}

       