#header {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
    background-color: white;
    height: 120px;
    font-weight: 700;
    font-family: "Courier New";
    width: 100%;
}


@media(max-width: 1013px) {
    #header {
        display: flex 1fr 1fr;

        width: 100%;
    }
}