
#home-page{
    padding-top: 4% ;
}

#quote{   
    min-height: 100vh;
    display: inline-flex;
    text-align: center;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    margin: 100px;
    border: solid 1px;
}


.head{
    
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 1.2;
}



.photo{
    min-width: 80%;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
   
}

.flex-title{
    padding-top: 10%;
    
    
}


@media(max-width: 950px) {
    #quote {
       flex-wrap: wrap;

    }
}