
#home-page{
  
    min-height: 100VH;
}

#quote{   

   display: flex;
    text-align: center;
    padding-top: 5%;
    margin: 10%;
    margin-top: 0;
    margin-bottom:0;
 
    
}


.head{
    
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 1.2;
}


.image{
 
}

.photo{
    
    max-width: 70%;
 
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
   
}

.flex-title{
   
    text-align: center;
    
}


@media(max-width: 950px) {
    #quote {
       flex-wrap: wrap;

    }
    .photo{
      
        min-width: 350px;
    }
    .image{
        padding-top: 30px;
    }
}