
#quote{
    
  
   min-height: 30vh;
    
}



#quote-text {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 50px;
    max-width: 60%;
}

#author {
    font-size: 1.6rem;
    padding-left: 50px;
    max-width: 30%;
  
}


@media(max-width: 800px) {
    #quote {

       
        font-size: .5em;

    }
}