
.toggle-position{
    
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

  .toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
    border: 3px solid #343434;
    border-radius: 20px;
    background: black;
    font-weight: bold;
    font-size: .9em;
    color: black;;
    cursor: pointer;
    min-width: 100%;
   
   
  }
  .toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius:20px;
    background: white;
    transition: all 0.3s;
  }
  .toggleCheckbox:checked + .toggleContainer::before {
     left: 50%;
  }
  .toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
  }
  .toggleCheckbox {
    display: none;
  }
  .toggleCheckbox:checked + .toggleContainer div:first-child{
    color: white;
    transition: color 0.3s;
  }
  .toggleCheckbox:checked + .toggleContainer div:last-child{
    color: black;;
    transition: color 0.3s;
  }
  .toggleCheckbox + .toggleContainer div:first-child{
    color: black;
    transition: color 0.3s;
  }
  .toggleCheckbox + .toggleContainer div:last-child{
    color: white;
    transition: color 0.3s;
  }