/*Object*/
#object {
    margin-top: 110px;
    text-align: left;
    padding-left: 50px;
    font-size: 1.5em;
    color: #FAF9F6;
}

.var-highlight {
    color: #C0AD60;
}

.string-highlight {
    color: rgba(253, 149, 90, 0.8);
}

