
.Container-dark {
  
    background-color: 	#fffff2;
    color: black;
  }
  
  .Container-light {
  
    background-color: 	black;
    color: 	white;
    margin: 0;
    
    animation: blink linear infinite 1.3s;
    text-shadow: 2px 2px 8px #FF0000;
   }
  