#test{
    display: grid;
  grid-template-areas:
    'obj photo'
    'about about';
  gap: 10px;
  
  padding: 10px;
}


.Type { grid-area: obj; }
.Photo{ grid-area: photo; }
.Bio { grid-area: about; }
