#project-container {
    padding: 5%;
    text-align: center;
}

.project-title{
    margin: 10%;
    margin-top: 30px;
     text-align: left;
     background-color:rgb(255,87,34);
     padding: 20px;
     font-size: 1.3em;

}
.project-address{
    
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
}

.project {
    flex: 1;
}

.project-text {
    text-align: left;
}

.photo-project {
    max-width: 70%;
    max-height: 70%;
}

@media (max-width: 950px) {
    .container {
        flex-direction: column;
    }

    .project {
        font-size: 1em;
    }
}
